* {
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    
}

body {
    display: flex;
    margin-top: 30px;
    background-color: #343D46;
}

nav {
    list-style: none;
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    background-color: #6A757F;
    z-index: 100;
    text-align:center;
    font-size: 20px;
    line-height: 45px;

}

.profilepic {
    border-radius: 50%;
    border-width: 5px;
    border-style: solid;
    border-color:#6A757F;
    width: 350px;
    height: 350px;
    position: absolute;
    left: 30px;
    top: 220px;
}

.fbook {
    height: 50px;
    width: 50px;
    position: absolute;
    left: 420px;
    top: 480px;
}

.fbooktext {
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    left: 470px;
    top: 475px; 
}

.ghub {
    height: 40px;
    width: 40px;
    position: absolute;
    left: 423px;
    top: 535px;
}

.ghubtext {
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    left: 470px;
    top: 525px; 
}

.insta {
    height: 46px;
    width: 54px;
    position: absolute;
    left: 595px;
    top: 482px;
}

.instatext {
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    left: 645px;
    top: 475px; 
}

.linkedin {
    height: 50px;
    width: 50px;
    position: absolute;
    left: 597px;
    top: 535px;
}

.linkedintext {
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    left: 645px;
    top: 525px; 
}

.twitter {
    height: 70px;
    width: 70px;
    position: absolute;
    left: 770px;
    top: 470px;
}

.twittertext {
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    left: 830px;
    top: 475px; 
}

section {
    height: 100vh;
}

.skytrain {
    border-style:solid;
    border-width: 8px;
    border-color:#6A757F;
    position:absolute;
    top: 210px;
    left: 40px;
}

.guideway {
    border-style:solid;
    border-width: 8px;
    border-color:#6A757F;
    position:absolute;
    top: 345px;
    left: 40px;
    height: 280px;
    width: 450px;
}

.we0 {
    font-size: 25px;
    position: absolute;
    top: 200px;
    left: 520px;
    white-space: nowrap;
}

.wehead {
    text-align: center;
    font-size: 35px;
    position: absolute;
    left: 500px;
    white-space: nowrap;
    
}

.wedesc {
    font-size: 20px;
    position: absolute;
    left: 520px;
    top: 230px;
    white-space: nowrap;
}



#workexp {
    position: absolute;
    top: 600px;
}

a {
    text-decoration: none;
    margin: 10px;
    padding-top: 10px;
}
a:hover {
   color: #384653;
   
}

#persproj {
position: absolute;
top: 1200px;
}

.persprojhead {
    text-align: center;
    font-size: 35px;
    position: absolute;
    left: 500px;
    white-space: nowrap;
}

header {
    position: absolute;
    left: 45%;
    top: 80px;
    text-align: center;
}

header .name {
    font-size: 35px;
}

header .email, .phonenum{
    font-size: 20px;
    font-weight: normal;
}

.hello {
    position: absolute;
    font-size: 35px;
    top: 230px;
    left: 420px;
}

.bio-info{
    position: absolute;
    font-size: 24px;
    top: 280px;
    left: 420px
}
